*  { margin: 0; padding: 0; list-style: none; border: none; }

/* geral */
.fleft { float: left; }
.fright { float: right; }
.clr { clear: both; }
.overflow { overflow: hidden; }

.space-bottom { margin-bottom: 10px; }
.space-right { margin-right: 8px; }

.title { font-size: 18px; }

.none { display: none; }

html { height: 100% }
body {
    width: 320px; height: 480px;
    margin: 0;
    padding: 0;
    position: relative;
}
#map-canvas {
  width: 320px;
  height: 404px;
}

#header {
    height: 38px;
    background: #7db9e8;
    background: -moz-linear-gradient(top, #7db9e8 1%, #476d99 100%);
    padding-left: 10px;
}
#header-icon { padding-top: 3px; }
#header-title { padding: 10px 10px 10px 0; color: #FFF; margin-left: 73px; }
#header-menu {
    width: 38px;
    height: 38px;
    text-align: center;
    padding-top: 4px;
}

#footer {
    background: #7db9e8;
    height: 38px;
}
#footer-geo { padding: 4px 0 0 8px; }
#footer-geo-ico { padding-right: 7px; border-right: 1px solid #C9D9E5; }

#footer-search { height: 38px; }
#footer-search-text {
    width: 214px;
    height: 25px;
    font-size: 18px;
    padding: 4px;
    margin-top: 3px;
}
#footer-search-action {
    background: #7db9e8;
    background: -moz-linear-gradient(top, #7db9e8 0%, #476d99 50%, #7db9e8 100%);
    height: 38px;
    width: 38px;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}
.legenda {
    width: 15px;
    float: right;
    clear: both;
}
#legenda-cores {
    position: absolute;
    right: 10px;
    top: 100px;
    z-index: 10;
    text-align: right;
}
.descricao {
    text-align: right;
    font-size: 14px;
    color: blue;
    font-weight: bold;
} 
